<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.hotbook.mapper.BookMapper">
    <select id="findById" resultType="com.learn.hotbook.domain.Book">
        select * from t_book where id=#{id};
    </select>

    <insert id="insertBatch">
        INSERT INTO t_book
        (id, name, del_flag)
        VALUES
        <foreach collection ="list" item="book" separator =",">
            (#{book.id}, #{book.name}, #{book.delFlag})
        </foreach >
    </insert>
</mapper>